__pycache__/bonuses.cpython-39.pyc
__pycache__/categories.cpython-39.pyc
__pycache__/games.cpython-39.pyc
__pycache__/players.cpython-39.pyc
__pycache__/qbj_utils.cpython-39.pyc
__pycache__/questions.cpython-39.pyc
__pycache__/teams.cpython-39.pyc
__pycache__/tossups.cpython-39.pyc
__pycache__/utils.cpython-39.pyc
scratch.ipynb
